{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar container-fluid">
      <div class="logo">
        <img src="./logo.jpg" alt="" />
        <div class="logo-text">Lead Forward</div>
      </div>
    </div>
    <div class="sidebar">
      <ul class="navlinks">
        <li>
          
        </li>
        <li>
          <a href="/create_qa_orders"
            >Allocation Management&nbsp;<span
              ><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
        <li>
          <a href="/"
            >Leads Management&nbsp;<span><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
        <li>
          <a href="/"
            >Actionable Outcomes&nbsp;<span
              ><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
        <li>
          <a href="/"
            >Upload Self Lead &nbsp;<span
              ><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
        <li>
          <a href="/"
            >Non Action-able Outcomes &nbsp;<span
              ><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
        <li>
          <a href="/"
            >Reports&nbsp;<span><i class="fas fa-caret-down"></i></span
          ></a>
        </li>
      </ul>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html> --}}

@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");

* {
  text-decoration: none;
}

body {
}

#logo {
  font-family: Reggae One;
  letter-spacing: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar-toggler-icon {
  color: rgb(0, 195, 255);
  border: 1px solid rgb(0, 195, 255);
  padding: 0px 1em;
}

button.navbar-toggler {
  color: rgb(0, 195, 255);
}
#navbarlogo {
  color: rgb(0, 195, 255);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1.7px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99999;
}
li #home {
  font-family: KoHo;
  color: #000;
  letter-spacing: 3px;
  font-weight: bold;
}

#home:hover {
  border-bottom: 1px solid rgb(0, 195, 255);
  padding-bottom: 5px;
  transition: all 0.4s;
}

li #signin {
  color: #000;
  float: left;
}
#signin:hover {
  border-bottom: 1px solid rgb(0, 195, 255);
  padding-bottom: 5px;
  transition: all 0.4s;
}

.navbar-nav .right-menu {
  display: flex;
}
