<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <title>XDBS</title>
  </head>
  <body>
    {{>navbar}}

    <div class="Qaorders">
      <div class="table-list">
        <div id="order-list">
          <span class="fas fa-users"></span>&nbsp;Order List
        </div>
        <p id="demo"></p>
      </div>

      <table class="table" id="myTable">
        <thead>
          <tr>
            <!-- <th scope="col">Sr.No</th> -->
            <th scope="col">Order Id</th>
            <th scope="col">Client Name</th>
            <th scope="col">Client IO Number</th>
            <th scope="col">Order Name</th>
            <th scope="col">Start Delivery Date</th>
            <th scope="col">End Delivery Date</th>
            <th scope="col">Qty</th>
            <th scope="col">QA Approval Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      </table>
      <tbody></tbody>
    </div>

    <div class="editModal">
      <div
        class="modal fade offset-1 col-10"
        id="editModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document" id="prefill" style="display: block;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Information</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="order-id col-6">
                  <label for="orderid">Order-Id:</label>
                  <input
                    name="data1"
                    type="number"
                    class="form-control"
                    id="edit_order_id"
                    name="orderid"
                 disabled />
                </div>
                <div class="order-id col-6">
                  <label for="order id">Client Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="edit_client_name"
                  />
                </div>
              </div>
              <div class="row">
                <div class="order-id col-6">
                  <label for="client_io">Client IO Number:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="edit_client_io_number"
                  />
                </div>
                <div class="order-id col-6">
                  <label for="order_name">Order Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="edit_order_name"
                  />
                </div>
              </div>
              <div class="row">
                <div class="order-id col-6">
                  <label for="start_delivery_date">Start Delivery Date:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="edit_start_delivery_date"
                  />
                </div>
                <div class="order-id col-6">
                  <label for="edit_end_delivery_date">End Delivery Date:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="edit_end_delivery_date"
                  />
                </div>
              </div>
              <div class="row">
                <div class="order-id col-6">
                  <label for="qty">Qty :</label>
                  <input type="number" class="form-control" id="edit_qty" />
                </div>
                <div class="order-id col-6">
                  <label for="qa_approval_date">QA Approval Date:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="edit_qa_approval_date"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger modal-close"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-success"
                id="updatebtn"
                onclick="editRequest()"
              >
                Update
              </button>
              <button type="button" class="btn btn-success" id="clickbtn">
                click
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    //
  </body>

  <link rel="stylesheet" href="./index.css" />

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    rel="stylesheet"
  />

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script></script>

  <script>
    const getData = () => {
      //   $.ajax({
      //     type: "get",
      //     url: "api/test",
      //     dataType: "json",
      //     success: function (data) {
      //       var data1 = JSON.stringify(data);
      //       var html = "";
      //       $.each(data, function (i, val) {
      //         console.log("DatA = " + val[i]);
      //         html +=
      //           "<tr><td>" +
      //           val.order_id +
      //           "</td>" +
      //           "<td>" +
      //           val.client_name +
      //           "</td>" +
      //           "<td>" +
      //           val.client_io_number +
      //           "</td>" +
      //           "<td>" +
      //           val.order_name +
      //           "</td>" +
      //           "<td>" +
      //           val.start_delivery_date +
      //           "</td>" +
      //           "<td>" +
      //           val.end_delivery_date +
      //           "</td>" +
      //           "<td>" +
      //           val.qty +
      //           "</td>" +
      //           "<td>" +
      //           val.qa_approval_date +
      //           "</td>" +
      //           "<td>" +
      //           "<span><a href='' class='fas fa-edit' data-toggle='modal' data-target='#editModal'  id='edit-button'><a/></span>" +
      //           "<span><button class='fas fa-trash-alt' id='del' onclick='makeDELETErequest(" +
      //           val.order_id +
      //           ")''><button/></span>";
      //         "</td>" + "</tr>";
      //       });
      //       // $("#myTable").dataTable().fnDestroy();
      //       $("#myTableData").html(html);
      //       $("#myTable").DataTable({
      //         pageLength: 10,
      //         destroy: true,
      //         draw: true,
      //         column: {},
      //       });
      //     },
      //   });
      // };
      // getData();
      // $("#myTable").DataTable({
      //   ajax: {
      //     url: "/test.json",
      //     type: "get",
      //     success: (data) => {
      //       console.log(data);
      //     },
      //   },
      // });

      $.ajax({
        url: "api/test",
        method: "get",
        dataType: "json",

        success: (data) => {
          if ($.fn.DataTable.isDataTable("#myTable")) {
            $("#myTable").dataTable().fnDestroy();
          }

          console.log(data);
          $("#myTable").dataTable({
            data: data,
             columns: [

              { data: "order_id" },
              { data: "client_name" },
              { data: "client_io_number" },
              { data: "order_name" },
              { data: "start_delivery_date" },
              { data: "end_delivery_date" },
              { data: "qty" },
              { data: "qa_approval_date" },
              {
                data: null,
                render: (data) => {
                  return (
                    "<span><button class='fas fa-edit' data-toggle='modal' data-target='#editModal'  id='edit-button' onclick='editbtn("+ data.order_id +")'></button><button class='fas fa-trash-alt' id='del' onclick='makeDELETErequest(" +
                    data.order_id //srno
                     +
                    ")'></button></span>"
                  );
                },
              },
            ],
          });

          $("#myTable").dataTable({
            pageLength: 20,
            destroy: true,
            draw: true,
            stateSave: true,
          });
        },
        error: (error) => {
          console.log(error);
        },
      });
    };
    getData();

    const makeDELETErequest = (data) => {
      $.ajax({
        // url: "/api/delete:" + val,
        url: `api/delete/${data}`,
        type: "DELETE",
        cache: false,
        success: () => {
          if ($.fn.DataTable.isDataTable("#myTable")) {
            $("#myTable").dataTable().fnDestroy();
          }
          alert(`Data with order_id: ${data}  has been deleted`);
          getData();
        },
        error: (err) => {
          console.log(err);
        },
      });
      // setInterval(() => {
      //   $("#del").load("http://localhost:5000/api/test").fadeIn("slow");
      // }, 1000);
      // setInterval(() => {
      //   $("#del").load("Qaorder.hbs").fadeIn("slow");
      // }, 100);
      // setInterval(() => {
      //   $("#myTable").load("/api/test").fadeIn("slow");
      // }, 100);
      // setInterval(() => {
      //   $("#myTable").load("/api/test").fadeIn("slow");
      // }, 100);
    };

    // $("#updatebtn").on("click", (val) => {
    //   //location.reload();
    //   // var data = {
    //   //   order_id: $("#edit_order_id").val(),
    //   //   client_name: $("#edit_client_name").val(),
    //   //   client_io_number: $("#edit_client_io_number").val(),
    //   //   order_name: $("#edit_order_name").val(),
    //   //   start_delivery_date: $("#edit_start_delivery_date").val(),
    //   //   end_delivery_date: $("#edit_end_delivery_date").val(),
    //   //   qty: $("#edit_qty").val(),
    //   //   qa_approval_date: $("#edit_qa_approval_date").val(),
    //   // };
    //   // $.ajax({
    //   //   type:"post",
    //   //   url:`api/update/`
    //   // })

    //   console.log(val);
    // });

    const editRequest = () => {
      var data = {
        
        order_id: $("#edit_order_id").val(),
        client_name: $("#edit_client_name").val(),
        client_io_number: $("#edit_client_io_number").val(),
        order_name: $("#edit_order_name").val(),
        start_delivery_date: $("#edit_start_delivery_date").val(),
        end_delivery_date: $("#edit_end_delivery_date").val(),
        qty: $("#edit_qty").val(),
        qa_approval_date: $("#edit_qa_approval_date").val(),
      };

      $.ajax({
        url: `api/update_data/${data.order_id}`,
        type: "put",
        data: data,
        cache: false,
        success: (data) => {
          alert(
            ` Your Order Id: ${$("#edit_order_id").val()} and client Name ${$(
              "#edit_client_name"
            ).val()} has been successfully updated`
          );
          getData();
        },
      });
    };
  </script>
  <script>
    const editbtn = (data) => {
    
      // $("#prefill").modal("show");
      // $("#edit_order_id").val(data);
      // $("#edit_client_name").val(data1);
      // $("#edit_client_io_number").val(data2);
      // $("#edit_order_name").val(data3);
      // $("#edit_start_delivery_date").val(data4);
      // $("##edit_end_delivery_date").val(data5);
      // $("#edit_qty").val(data6);
      // $("#edit_qa_approval_date").val(data7);
      $.ajax({
        url: `api/test/${data}`,
        type: "get",
        data: data,
        cache: false,
        success: (data) => {
          $("#edit_order_id").val(data[0].order_id);
          $("#edit_client_name").val(data[0].client_name);
          $("#edit_client_io_number").val(data[0].client_io_number);
          $("#edit_order_name").val(data[0].order_name);
          $("#edit_start_delivery_date").val(data[0].start_delivery_date);
          $("#edit_end_delivery_date").val(data[0].end_delivery_date);
          $("#edit_qty").val(data[0].qty);
          $("#edit_qa_approval_date").val(data[0].qa_approval_date);
        }
      });
    };
  </script>
</html>